<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuite name='WTForms Validators Test'>
        <directory>./tests/validators</directory>
    </testsuite>
    <testsuite name="WTForms Common Tests">
        <directory>./tests/common</directory>
    </testsuite>
    <testsuite name="WTForms Field Tests">
        <directory>./tests/fields</directory>
    </testsuite>
    <testsuite name="WTForms Widgets Tests">
        <directory>./tests/widgets</directory>
    </testsuite>
    <testsuite name="WTForms CSRF Tests">
        <directory>./tests/csrf</directory>
    </testsuite>
    <testsuite name="WTForms Quirks Tests">
        <directory>./tests/quirks</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/fields</directory>
            <directory suffix=".php">./src/widgets</directory>
            <directory suffix=".php">./src/validators</directory>
            <directory suffix=".php">./src/quirks</directory>
            <directory suffix=".php">./src/csrf/core</directory>
            <directory suffix=".php">./src/csrf/session</directory>
            <file>./src/Form.php</file>
            <file>./src/helpers.php</file>
            <file>./src/Flags.php</file>
            <file>./src/DefaultMeta.php</file>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./src/exceptions</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>