<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuite name='WTForms Validators Test'>
        <directory>./validators</directory>
    </testsuite>
    <testsuite name="WTForms Common Tests">
        <directory>./common</directory>
    </testsuite>
    <testsuite name="WTForms Field Tests">
        <directory>./fields</directory>
    </testsuite>
</phpunit>