<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuite name='WTForms Validators Test'>
        <directory>./validators</directory>
    </testsuite>
    <testsuite name="WTForms Common Tests">
        <directory>./common</directory>
    </testsuite>
    <testsuite name="WTForms Field Tests">
        <directory>./fields</directory>
    </testsuite>
    <testsuite name="WTForms Widgets Tests">
        <directory>./widgets</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/fields</directory>
            <directory suffix=".php">../src/widgets</directory>
            <directory suffix=".php">../src/validators</directory>
            <exclude>
                <file>../src/NotImplemented.php</file>
                <file>../src/ValueError.php</file>
                <file>../src/validators/ValidatorError.php</file>
                <file>../src/validators/StopValidation.php</file>
                <file>../src/validators/Validator.php</file>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../tests</directory>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
</phpunit>